<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MyChannel</title>
    <link rel="stylesheet" href="/css/userSettings.css">
    <script type="text/javascript" src="js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX9uyQc2BHh1aWfmsGBuhNg4vVsAM10M0&callback=initMap"></script>
  </head>
  <body>
    <div class="container">
      <img src="My-Channel-Wide.png" alt="{{ lastName }}" style="width:100%;">
      <div class="bottom-right">{{firstName}} {{lastName}}</div>
      <img class="userProfilePictureOverlay" src="{{picture}}">
    </div>
    <div id="map"></div>
  </body>
</html>
