html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 2%;
}
.header {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 2%;
}

#userSection {
	  margin-top: 75px;

	  text-align: center;
}

#locationSection {
	  margin-top: 75px;
}

.userProfilePictureOverlay {
  object-fit: cover;
  border-radius: 50%;
  height: auto;
  /* width: 35%; */
  box-shadow: inset 0 0 5px tomato, 0 0 5px white;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.9));
}
#map {
  width: 75%;
  height: 35%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.welcomeSection {
  width: 100%;
  margin-top: 50px;
}
.welcomeHeader {
  font: Arial;
  font-size: 4em;
  text-align: center;
}
.description {
  font: Arial;
	font-size: 1.7em;
  margin-top: 30px;
  text-align: center;
}
.saveSection {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#zipCodeSection{
  display: flex;
  align-items: center;

  justify-content: center;
  margin-top: 20px;
}
#zipDesc{
  text-align: center;
	font-size: 2em;
	margin-right: 20px;
}
#zipCode {
  font-size: 2em;
}

.userName {
  font: Arial;
	font-size: 1.7em;
  text-align: center;
  margin-top: 20px;
}
.userEmail {
  font: Arial;
	font-size: 1.7em;
  text-align: center;
}

.saveButton {
  font:  Arial;
	font-size: 2em;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
}
#notificationSection {
 visibility: hidden;
 min-width: 250px;
 margin-left: -125px;
 background-color: #333;
 color: #fff;
 text-align: center;
 border-radius: 2px;
 padding: 16px;
 position: fixed;
 z-index: 1;
 left: 50%;
 bottom: 30px;
 font-size: 17px;
}
#notificationSection.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
footer {
  background: gray;
}
header {
  background: gray;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
